QuizzCraftClient/Connected Services/QuizServiceReference/QuizzCraftService.Models.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/QuizzCraftService.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/QuizzCraftService.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Quiz">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="QuizId" type="xs:int" />
      <xs:element minOccurs="0" name="Subject" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TeacherId" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Quiz" nillable="true" type="tns:Quiz" />
  <xs:complexType name="ArrayOfQuiz">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Quiz" nillable="true" type="tns:Quiz" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQuiz" nillable="true" type="tns:ArrayOfQuiz" />
</xs:schema>