QuizzCraftClient/Connected Services/QuizServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="QuizService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IQuizService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/QuizzCraftService.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IQuizService_AddQuiz_InputMessage">
    <wsdl:part name="parameters" element="tns:AddQuiz" />
  </wsdl:message>
  <wsdl:message name="IQuizService_AddQuiz_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddQuizResponse" />
  </wsdl:message>
  <wsdl:message name="IQuizService_DeleteQuiz_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteQuiz" />
  </wsdl:message>
  <wsdl:message name="IQuizService_DeleteQuiz_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteQuizResponse" />
  </wsdl:message>
  <wsdl:message name="IQuizService_GetAllQuizzes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllQuizzes" />
  </wsdl:message>
  <wsdl:message name="IQuizService_GetAllQuizzes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllQuizzesResponse" />
  </wsdl:message>
  <wsdl:message name="IQuizService_GetMyQuizzes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMyQuizzes" />
  </wsdl:message>
  <wsdl:message name="IQuizService_GetMyQuizzes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMyQuizzesResponse" />
  </wsdl:message>
  <wsdl:message name="IQuizService_GetQuiz_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQuiz" />
  </wsdl:message>
  <wsdl:message name="IQuizService_GetQuiz_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQuizResponse" />
  </wsdl:message>
  <wsdl:message name="IQuizService_UpdateQuiz_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateQuiz" />
  </wsdl:message>
  <wsdl:message name="IQuizService_UpdateQuiz_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateQuizResponse" />
  </wsdl:message>
  <wsdl:portType name="IQuizService">
    <wsdl:operation name="AddQuiz">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuizService/AddQuiz" message="tns:IQuizService_AddQuiz_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuizService/AddQuizResponse" message="tns:IQuizService_AddQuiz_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteQuiz">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuizService/DeleteQuiz" message="tns:IQuizService_DeleteQuiz_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuizService/DeleteQuizResponse" message="tns:IQuizService_DeleteQuiz_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllQuizzes">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuizService/GetAllQuizzes" message="tns:IQuizService_GetAllQuizzes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuizService/GetAllQuizzesResponse" message="tns:IQuizService_GetAllQuizzes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMyQuizzes">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuizService/GetMyQuizzes" message="tns:IQuizService_GetMyQuizzes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuizService/GetMyQuizzesResponse" message="tns:IQuizService_GetMyQuizzes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetQuiz">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuizService/GetQuiz" message="tns:IQuizService_GetQuiz_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuizService/GetQuizResponse" message="tns:IQuizService_GetQuiz_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateQuiz">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuizService/UpdateQuiz" message="tns:IQuizService_UpdateQuiz_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuizService/UpdateQuizResponse" message="tns:IQuizService_UpdateQuiz_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IQuizService" type="tns:IQuizService">
    <wsp:PolicyReference URI="#NetTcpBinding_IQuizService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="AddQuiz">
      <soap12:operation soapAction="http://tempuri.org/IQuizService/AddQuiz" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteQuiz">
      <soap12:operation soapAction="http://tempuri.org/IQuizService/DeleteQuiz" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllQuizzes">
      <soap12:operation soapAction="http://tempuri.org/IQuizService/GetAllQuizzes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMyQuizzes">
      <soap12:operation soapAction="http://tempuri.org/IQuizService/GetMyQuizzes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuiz">
      <soap12:operation soapAction="http://tempuri.org/IQuizService/GetQuiz" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateQuiz">
      <soap12:operation soapAction="http://tempuri.org/IQuizService/UpdateQuiz" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="QuizService">
    <wsdl:port name="NetTcpBinding_IQuizService" binding="tns:NetTcpBinding_IQuizService">
      <soap12:address location="net.tcp://localhost:8000/QuizService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8000/QuizService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>LAPTOP-U9HIBGV1\ASUS</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>