QuizzCraftClient/Connected Services/TeacherServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/QuizzCraftService.Models" />
  <xs:element name="AddTeacher">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/QuizzCraftService.Models" minOccurs="0" name="teacher" nillable="true" type="q1:Teacher" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTeacherResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddTeacherResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeacherByEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeacherByEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/QuizzCraftService.Models" minOccurs="0" name="GetTeacherByEmailResult" nillable="true" type="q2:Teacher" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeacherById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeacherByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/QuizzCraftService.Models" minOccurs="0" name="GetTeacherByIdResult" nillable="true" type="q3:Teacher" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyTeacher">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="epassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyTeacherResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/QuizzCraftService.Models" minOccurs="0" name="VerifyTeacherResult" nillable="true" type="q4:Teacher" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>