QuizzCraftClient/Connected Services/QuestionServiceReference/QuizzCraftService.Models.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/QuizzCraftService.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/QuizzCraftService.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Question">
    <xs:sequence>
      <xs:element minOccurs="0" name="CorrectAnswer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OptionA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OptionB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OptionC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OptionD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QuestionID" type="xs:int" />
      <xs:element minOccurs="0" name="QuestionText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QuizId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Question" nillable="true" type="tns:Question" />
  <xs:complexType name="ArrayOfQuestion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Question" nillable="true" type="tns:Question" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQuestion" nillable="true" type="tns:ArrayOfQuestion" />
</xs:schema>